h1 {
  margin-left: 90px;
  margin-top: 30px;
  color: grey;
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
      height: 120px;
      width: 120px;
      border-radius: 100px;
      padding: 15px;
      
}

.list {
  margin-left: 60px;
  margin-top: 30px;
  display: flex;
}

.employee {
  border: 1px  solid  grey;
  border-radius: 5px;
  width: 500px;
  margin-left: 30px;
  display: flex;

}

ul li {
  list-style-type: none;
  margin-top: 10px;
}

.empList {
  margin-top: 30px;
}

ul li:nth-child(1) {
  font-weight: bold;

}

ul li:nth-child(2)  {
  color: grey;
  font-weight: lighter;
}
ul li:nth-child(3)  {
  color: grey;
  font-weight: lighter;
}

